%h2 #{@service.name}

%ul#info
  %li
    %b Service:
    = @service.name
  %li
    %b Category:
    = @service.category
  %li
    %b Price:
    = @service.price
    
%h4 Details:

%p
  %b Location: 
  =@service.location
%p
  %b Rating:
  =@service.rating

%p 
= link_to 'Edit', edit_services_path(@service), :class => 'btn btn-primary'

= link_to 'Delete', services_path(@service), 'data-method' => 'delete', 'data-confirm' => 'Delete service?', :class => 'btn btn-secondary'

%p
= link_to 'Back', services_path