%h2 #{@reservation.name}

%ul#info
  %li
    %b Reservation for:
    = @reservation.name
    
%h4 Details:

%p
  %b Location: 
  =@reservation.service_location
%p
  %b Date:
  =@reservation.date

%p 
= link_to 'Edit', edit_reservation_path(@reservation), :class => 'btn btn-primary'

= link_to 'Delete', reservation_path(@reservation), 'data-method' => 'delete', 'data-confirm' => 'Delete service?', :class => 'btn btn-secondary'

%p
= link_to 'Back', reservations_path